{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/funcionarios.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
<style type="text/css">
.ltr.both.forDays-7.yesLabel {
    background: #1fac07 !important;
}
</style>
{% endblock css %}
{% block content %}
<div class="col-12 container_block"> 
    <h1 class="titulo_h1_funcionarios">ALTOS FUNCIONARIOS</h1>        
  {% for funcionario in alto_funcionarios %}
  <div class="col-4 funcionario_col col-xs-6">
    <div>
        <a href="{{funcionario.imagen_principal.url}}" data-toggle="lightbox" data-width="800" data-height="1500">
            <img src="{{funcionario.imagen_principal.url}}" class="img-fluid funcionario_img">
        </a>
    </div>
    <div class="campo_texto_funcionario">
      <h3>{{funcionario.nombre_alto_funcionario}}</h3>
      <div class="cargo_texto_funcionario">{{funcionario.cargo}}</div>
    </div>

    
  </div>  
  {% endfor %}
</div>
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
        <div class="contenedor_table">

            <table>
                <tr>
                  <th>CARGO</th>
                  <th>NOMBRES</th>
                </tr>
                
                {% for funcionario in alto_funcionarios %}
                  <tr>
                    <td>{{funcionario.cargo}}</td>
                    <td>{{funcionario.nombre_alto_funcionario}}</td>
                  </tr>
                {% endfor %}
              </table>
        </div>
    </div>
</section>
</div>
    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                      event.preventDefault();
                      $(this).ekkoLightbox();
                  });

    </script>
    {% endblock js %}

{% endblock content %}