{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/funcionarios.css' %}">
<style type="text/css">
</style>
{% endblock css %}
{% block content %}
<div class="col-12 container_block"> 
    <h1 class="titulo_h1_funcionarios">CONTACTENOS</h1>        
</div>
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
        <div class="contenedor_contacto">
          <p>Si deseas contactarnos puedes mandar un correo a <strong>municipalidad-san-lorenzo@hotmail.com</strong> dirigido a <strong>Uriel Marcavillaca Alvarez</strong> 
            describiendo su problema o el mensaje por el cual quiere contactar con la municipalidad</p>
          <p>
            Tambien puedes ubicarnos en : CAR.MALDONADO IBERIA NRO. 143 CAS. SAN LORENZO MADRE DE DIOS - TAHUAMANU - TAHUAMANU
          </p>
        </div>
    </div>
</section>
</div>
    {% block js %}
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    {% endblock js %}

{% endblock content %}