{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/funcionarios.css' %}">
<style type="text/css">
</style>
{% endblock css %}
{% block content %}
<h1 class="titulo_h1_funcionarios">FUNCIONARIOS</h1> 
<div class="col-12 container_grid"> 
           
  {% for funcionario in funcionarios %}
  <div class="funcionario_col col-xs-6">
    <div class="flex">
      <img src="{{funcionario.imagen_principal.url}}" class="funcionario_img" alt="">
    </div>
    <div class="campo_texto_funcionario">
      <h3>{{funcionario.nombre_funcionario}}</h3>
      <div class="cargo_texto_funcionario">{{funcionario.cargo}}</div>
    </div>
  </div>  
  {% endfor %}
</div>
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
        <div class="contenedor_table">

            <table>
                <tr>
                  <th>CARGO</th>
                  <th>NOMBRES</th>
                </tr>
                
                {% for funcionario in funcionarios %}
                <tr>
                  <td>{{funcionario.cargo}}</td>
                  <td>{{funcionario.nombre_funcionario}}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </div>
</section>
</div>
    {% block js %}
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    {% endblock js %}

{% endblock content %}