{% extends "web/base.html" %}
{% load static %}

{% block css %}
<style type="text/css">
  a.weatherwidget-io{
    width: 316px;
  }
</style>
{% endblock css %}
{% block content %}

{% comment %}
<div class="owl-carousel owl-theme mini-slider">
  {% for slider in posts|slice:":3" %}
  <div mini_item>
    <a href="{%url 'web:post_detalle' slider.slug %}" class="a-block d-flex align-items-center height-lg" style="background-image: url('{{slider.imagen_principal.url}}'); ">
      <div class="text half-to-full">
        <div class="post-meta">
          <span class="mr-2">{{slider.fecha_emision.date}}</span> &bullet;
          <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
          
        </div>
        <h1 class="slider_h1_titulo">{{slider.titulo}}</h1>
      </div>
    </a>
  </div>
  {% endfor %}
</div>  
{% endcomment %}

<section class="site-section pt-5 pb-5">
  <div class="container no_pad_marg">
    <div class="row">
      <div class="col-md-12">

        <div class="owl-carousel owl-theme home-slider">
          {% for slider in posts|slice:":3" %}
          <div>
            <a href="{%url 'web:post_detalle' slider.slug %}" class="a-block d-flex align-items-center height-lg" style="background-image: url('{{slider.imagen_principal.url}}'); ">
              <div class="text half-to-full">
                {% comment %}
                <span class="category mb-5">Food</span>
                {% endcomment %}
                <div class="post-meta">
                  <span class="mr-2">{{slider.fecha_emision.date}}</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                  
                </div>
                <h1 class="slider_h1_titulo">{{slider.titulo}}</h1>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>    
      </div>
    </div> 
  </div>
</section>
<!-- END section -->

<section class="site-section py-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Noticias</h2>
      </div>
    </div>
    <div class="row blog-entries">
      <div class="col-md-12 col-lg-8 main-content noticias_col_responsive">
        <div class="row row_border">
         
         {% for post in page_obj.object_list %}
         <div class="col-md-12 noticias_col_responsive">
          <a href="{%url 'web:post_detalle' post.slug %}" class="blog-entry element-animate flex" data-animate-effect="fadeIn">
            <div class="col-md-6 no_padding imagen_noticias" style="background-image: url('{{post.imagen_principal.url}}');" >
            </div>
            <div class="col-md-6" >
              <div class="blog-content-body">
                <div class="post-meta">
                  <span class="mr-2">{{post.fecha_emision.date}}</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h2>{{post.titulo}}</h2>
                <p>{{post.resumen|truncatechars:150 }}</p>
              </div>
            </div>
          </a>
        </div>
         {% endfor %}
           
        </div>
        {% include "web/_pagination.html" %}



      </div>

      <!-- END main-content -->

      <div class="col-md-12 col-lg-4 sidebar">
        <div class="sidebar-box search-form-wrap">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon fa fa-search"></span>
              <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <div class="weather_contenedor">
          <a class="weatherwidget-io" href="https://forecast7.com/es/n11d40n69d49/tahuamanu-province/" data-label_1="CLIMA DE" data-label_2="TAHUAMANU" data-font="Arial Black" data-icons="Climacons Animated" data-theme="candy" data-basecolor="#00a650" data-accent="" data-lowcolor="#ffffff" data-cloudfill="#00a650" >CLIMA DE TAHUAMANU</a>
        </div>
        

        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <div class="bio text-center">

          </div>
        </div>
        <!-- END sidebar-box -->  
        <div class="sidebar-box">
          <h3 class="heading">Noticias Recientes</h3>
          <div class="post-entry-sidebar">
            <ul>
              {% for populated_post in populated_posts|slice:":3"  %}
              <li>
                <a href="{%url 'web:post_detalle' populated_post.slug %}">
                  <img src="{{populated_post.imagen_principal.url}}" alt="Image placeholder" class="mr-4">
                  <div class="text">
                    <h4 class="titulo_h4_lateral">{{populated_post.titulo}}</h4>
                    <div class="post-meta">
                      <span class="mr-2">{{populated_post.fecha_emision.date}}</span>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- END sidebar-box -->

{% comment %}
      <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
          <li><a href="#">Food <span>(12)</span></a></li>
          <li><a href="#">Travel <span>(22)</span></a></li>
          <li><a href="#">Lifestyle <span>(37)</span></a></li>
          <li><a href="#">Business <span>(42)</span></a></li>
          <li><a href="#">Adventure <span>(14)</span></a></li>
        </ul>
      </div>
        <!-- END sidebar-box -->

        <div class="sidebar-box">
          <h3 class="heading">Tags</h3>
          <ul class="tags">
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
          </ul>
        </div>
{% endcomment %}
      </div>
      <!-- END sidebar -->
    </div>
  </div>
</section>
</div>
<div class="col-md-12 footer_related_post">
  <div class="owl-carousel owl-theme footer-slider">
    {% for slider in posts %}
    <div>
      <a href="{%url 'web:post_detalle' slider.slug %}" class="a-block footer_slider_a d-flex align-items-center height-lg" style="background-image: url('{{slider.imagen_principal.url}}'); ">
        <div class="text half-to-full footer_slider_div_image">
          {% comment %}
          <span class="category mb-5">Food</span>
          {% endcomment %}
          <div class="post-meta">
            <span class="mr-2">{{slider.fecha_emision.date}}</span> &bullet;
            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
            
          </div>
          <h3 class="titulo_footer_slider">{{slider.titulo}}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>    
</div>
    {% block js %}
      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
      </script>
    {% endblock js %}

{% endblock content %}