{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/funcionarios.css' %}">
<style type="text/css">
.ltr.both.forDays-7.yesLabel {
    background: #1fac07 !important;
}
</style>
{% endblock css %}
{% block content %}
<div class="col-12 container_block"> 
    <h1 class="titulo_h1_funcionarios">FUNCIONARIOS</h1>        
  {% for funcionario in funcionarios %}
  <div class="col-4 funcionario_col">
    <div>
      <img src="{{funcionario.imagen_principal.url}}" class="funcionario_img" alt="">
    </div>
    <div class="campo_texto_funcionario">
      <h3>{{funcionario.nombre_funcionario}}</h3>
      <div class="cargo_texto_funcionario">{{funcionario.cargo}}</div>
    </div>

    
  </div>  
  {% endfor %}
</div>
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
        <div class="contenedor_table">

            <table>
                <tr>
                  <th>Cargo</th>
                  <th>Nombres</th>
                </tr>
                <tr>
                  <td>GERENTE MUNICIPAL</td>
                  <td>MARIO ALBERTO TORRES TUMI</td>
                </tr>
                <tr>
                  <td>GERENTE DE DESARROLLO URBANO Y RURAL</td>
                  <td>DARWIN ROJAS ARGANDOÑA</td>
                </tr>
                <tr>
                  <td>GERENTE DE ADMINISTRACION</td>
                  <td>CLAUDIA ESTHER VELARDE OCHARAN</td>
                </tr>
                <tr>
                  <td>GERENTE  DE DESARROLLO ECONOMICO Y MEDIO AMBIENTE</td>
                  <td>LILIBETH MILAGROS HERNANDEZ ANICAMA</td>
                </tr>
                <tr>
                  <td>GERENTE DE ASESORIA JURIDICA</td>
                  <td>LUIS ALFREDO YUPANQUI HUILLCA</td>
                </tr>
                <tr>
                  <td>GERENTE DE DESARROLLO SOCIAL</td>
                  <td>YLSER GLADIS PANDURO BURGA</td>
                </tr>
                <tr>
                    <td>SECRETARIO GENERAL</td>
                    <td>OSVEL ZAMBRANO RUEDA</td>
                  </tr>
              </table>
        </div>
    </div>
</section>
</div>
    {% block js %}
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    {% endblock js %}

{% endblock content %}