{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mapa.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
{% endblock css %}
{% block content %}    
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
          <h1 class="titulo_h1_noticias_index">MAPA DE TRAZADO Y LOTIZACION DE TAHUAMANU</h1>   
           

    </div>
</section>
</div>
    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                      event.preventDefault();
                      $(this).ekkoLightbox();
                  });

    </script>
    {% endblock js %}

{% endblock content %}