{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="{{request.build_absolute_uri}}" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="{{capitulo_detallado.titulo}}" />
  <meta property="og:description"   content="{{capitulo_detallado.descripcion}}" />
  <meta property="og:image"         content="http://tevempresa.com{{capitulo_detallado.imagen_principal.url}}" />
  <meta property="og:image:width"   content="300"/>
  <meta property="og:image:height"   content="300" />

{% endblock social_facebook %}

{% block css %}
    <style type="text/css">
    </style>
{% endblock css %}
{% block content %}
<section class="site-section py-lg">
  <div class="container">
    <div class="row blog-entries element-animate">
      <div class="col-md-12 col-lg-8 main-content">
        <img src="{{post_detallado.imagen_principal.url}}" alt="Image" class="img-fluid mb-5">
         <div class="post-meta">
                    <span class="mr-2">{{post_detallado.fecha_emision.date}}</span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                  </div>
        <h1 class="mb-4">{{post_detallado.titulo}}</h1>
        {% comment %}
        <a class="category mb-5" href="#">Food</a> <a class="category mb-5" href="#">Travel</a>
        {% endcomment %}
        <div class="post-content-body">
          <p>{{post_detallado.descripcion}}</p>
        </div>
        <div class="pt-5">
          {% comment %} 
          <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
          {% endcomment %}

        </div>



          <!-- END comment-list -->
          
        

      </div>

      <!-- END main-content -->

      <div class="col-md-12 col-lg-4 sidebar">

        <!-- END sidebar-box -->

        <!-- END sidebar-box -->  
        <div class="sidebar-box">
          <h3 class="heading">Noticias Populares</h3>
          <div class="post-entry-sidebar">
            <ul>
              {% for populated_post in populated_posts|slice:":3"  %}
              <li>
                <a href="{%url 'web:post_detalle' populated_post.slug %}">
                  <img src="{{populated_post.imagen_principal.url}}" alt="Image placeholder" class="mr-4">
                  <div class="text">
                    <h4 class="titulo_h4_lateral">{{populated_post.titulo}}</h4>
                    <div class="post-meta">
                      <span class="mr-2">{{populated_post.fecha_emision.date}}</span>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- END sidebar-box -->

        <div class="sidebar-box">
          <h3 class="heading">Categories</h3>
          <ul class="categories">
            {% comment %}
            <li><a href="#">Food <span>(12)</span></a></li>
            <li><a href="#">Travel <span>(22)</span></a></li>
            <li><a href="#">Lifestyle <span>(37)</span></a></li>
            <li><a href="#">Business <span>(42)</span></a></li>
            <li><a href="#">Adventure <span>(14)</span></a></li>
            {% endcomment %}
          </ul>
        </div>
        <!-- END sidebar-box -->

        <div class="sidebar-box">
          <h3 class="heading">Tags</h3>
          <ul class="tags">
            {% comment %}
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
            {% endcomment %}

          </ul>
        </div>
      </div>
      <!-- END sidebar -->

    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-3 ">Noticias Recientes</h2>
      </div>
    </div>
    <div class="row">    
        {% for ultimas in ultimas_noticias %}
        <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block sm d-flex align-items-center height-md" style="background-image: url('{{ultimas.imagen_principal.url}}'); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">{{ultimas.categoria}}</span>
                  <span class="mr-2">{{ultimas.fecha_emision.date}}</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <h3>{{ultimas.titulo}}</h3>
              </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
</div>
<!-- END section -->


{% endblock content %}

