{% extends "web/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tahuamanu.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
{% endblock css %}
{% block content %}    
<section class="site-section pt-5 pb-5">
    <div class="container no_pad_marg">
      <div class="contenedor_tahuamanu">
          <h1 class="titulo_h1_tahuamanu">TAHUAMANU</h1>  
          <p>El distrito de Tahuamanu es uno de los tres distritos que conforman la provincia de Tahuamanu en el departamento de Madre de Dios, perteneciente a la Región de Madre de Dios en el Perú. Su capital es la localidad de San Lorenzo.</p>

          <ul>El distrito limita con:
              <li>Norte: con el distrito de Iberia.</li>
              <li>Sur y Oeste: con la provincia de Tambopata.</li>
              <li>Este: con la República de Bolivia.</li>
          </ul>
          <h5>Historia</h5>
          <p>El distrito fue creado con la Ley Nº 1782, que creo el departamento de Madre de Dios, en el gobierno del Presidente Guillermo Billinghurst.</p>
          <h5>Etnias</h5>
          <ul>En este distrito de la Amazonia peruana habita las siguientes etnias:
              <li>Pano grupo Shipibo-Conibo: autodenominado Joni.</li>
              <li>Tacana grupo Ese’Ejja: autodenominado también Ese’Ejja.</li>
              <li>Harakmbet grupo Amarakaeri: este conjunto harakmbut comprende varios pequeños grupos: Amarakaeri, Arasaeri, Huachipaeri, Kisamberi, Pukirieri, Sapiteri y Toyoeri.</li>
          </ul>        
      </div>
    </div>
</section>
</div>
    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                      event.preventDefault();
                      $(this).ekkoLightbox();
                  });

    </script>
    {% endblock js %}

{% endblock content %}