{% load i18n %}
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <nav aria-label="Page navigation" class="text-center">
              <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item  active"><a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}">&lt;</a></li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
            <li class="page-item"><a class="page-link">{{ page }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number.querystring }}">&gt;</a></li>
    {% endif %}
              </ul>
            </nav>
          </div>
        </div>
