{% load static %}
<footer class="site-footer">
    <div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
        <h3>Mision</h3>
        <p class="parrafo_footer">La Oficina de Secretaria General en el año 2020, tiene como misión velar por el cumplimiento de las disposiciones y ejecución de acciones vertidas por el Concejo Municipal y Alcaldía.</p>
        </div>
        <div class="col-md-6 ml-auto">
        <div class="row">
            <div class="col-md-8">
            <h3>Latest Post</h3>
            <div class="post-entry-sidebar">
                <ul>
                    {% for latest in populated_posts|slice:":3" %}
                    <li>
                        <a href="{%url 'web:post_detalle' latest.slug %}">
                        <img src="{{latest.imagen_principal.url}}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>{{latest.titulo}}</h4>
                            <div class="post-meta">
                            <span class="mr-2">{{latest.fecha_emision.date}}</span>
                            </div>
                        </div>
                        </a>
                    </li>  
                    {% endfor %}
                </ul>
            </div>
            </div> 
            <div class="col-md-4">
                <div class="mb-5">
                    <h3>Links</h3>
                    <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Funcionarios</a></li>
                    <li><a href="#">Noricias</a></li>
                    <li><a href="#">Transparencia</a></li>
                    <li><a href="#">Contactenos</a></li>
                    </ul>
                </div>
                
                <div class="mb-5">
                    <h3>Social</h3>
                    <ul class="list-unstyled footer-social">
                        
                        {% comment %}
                        <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>

                        {% endcomment %}
                            
                    <li><a href="https://www.facebook.com/Municipalidad-Distrital-de-Tahuamanu-113721623683291/"><span class="fa fa-facebook"></span> Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</footer>
<!-- END footer -->