{% load static %}

{% comment %}
<div class="top-bar">
    <div class="container">
    <div class="row">
        <div class="col-9 social">
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-youtube-play"></span></a>
        </div>
        <div class="col-3 search-top">
        <!-- <a href="#"><span class="fa fa-search"></span></a> -->
        <form action="#" class="search-top-form">
            <span class="icon fa fa-search"></span>
            <input type="text" id="s" placeholder="Type keyword to search...">
        </form>
        </div>
    </div>
    </div>
</div>  
{% endcomment %}
    

<div class="wrap">
    <header role="banner">
    <div class="container logo-wrap">
        <div class="row pt-5">
        <div class="col-12 text-center">
            <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
            <a href="{% url 'web:home' %}" class="a_logo"><img  class="img_logo" src="{% static "images/logo-02.png" %}"></a>
        </div>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container navbar_container">
        
        
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto no_padding">
            <li class="nav-item">
                <a class="nav-link active" href="{%url 'web:home' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{%url 'web:municipalidad' %}" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Municipalidad</a>
                <div class="dropdown-menu simple" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{%url 'web:mapa' %}">Mapa</a>
                <a class="dropdown-item" href="{%url 'web:organigrama' %}">Organigrama</a>
                <a class="dropdown-item" href="{%url 'web:altos_funcionarios' %}">Altos Funcionarios</a>
                <a class="dropdown-item" href="{%url 'web:funcionarios' %}">Funcionarios</a>
                </div>

            </li>
            <li class="nav-item responsive_noticias">
                <a class="nav-link active" href="">Noticias</a>
            </li>
            <li class="nav-item dropdown only_desktop">
                <a class="nav-link dropdown-toggle" href="category.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Noticias</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <div class="col-12 inline_flex">
                        {% for populated_post in populated_posts|slice:":4"  %}
                        <div class="col-md-3 dropdown_contenedor"> 
                            <a href="{%url 'web:post_detalle' populated_post.slug %}">
                                <div class="img_dropdown"  style="background-image: url('{{populated_post.imagen_principal.url}}'); ">
                                </div>  
                            
                                <div class="text_dropdown">
                                    <h4 class="titulo_h4_dropdown">{{populated_post.titulo}}</h4>
                                    <div class="post-meta">
                                    <span class="mr-2">{{populated_post.fecha_emision.date}}</span>
                                    </div>
                                </div>
                            </a>    
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'web:tahuamanu' %}">Tahuamanu</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="">Transparencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'web:contacto' %}">Contactenos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{%url 'web:municipalidad' %}" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sistemas</a>
                <div class="dropdown-menu simple" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="https://csimunicipio.com/sistemas/sistemacaja/">Caja</a>
                <a class="dropdown-item" href="https://csimunicipio.com/sistemas/sistemarentas/">Rentas</a>
                <a class="dropdown-item" href="https://csimunicipio.com/sistemas/sistemagua/">Agua</a>
                </div>

            </li>

            </ul>
            
        </div>
        </div>
    </nav>
    </header>
    <!-- END header -->
