.col-4.funcionario_col {
    text-align: center;
    margin: 40px 0;
    float: left;
}
.funcionario_img {
    height: 400px;
    width: 280px;
    margin: auto;
}
.campo_texto_funcionario {
  margin: 15px 0px;
}
.cargo_texto_funcionario {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background: #3cb100;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 10px;
  text-align: center;
  font-weight: 900;
}
.col-12.container_block {
  display: block;
}

.container_grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.titulo_h1_funcionarios {
  margin: 30px;
  text-align: center;
  font-weight: 900;
}
.flex {
  display: flex;
}
.campo_texto_funcionario h3 {
  text-align: center;
}

@media (max-width: 576px) {
  .col-xs-6 {
    width: 100%;
    max-width: 100%;
  }
}

