.contenedor_imagen {
    margin: 50px;
    text-align: center;
}
.img_mapa {
    width: 90%;
}
.titulo_h1_mapa {
    text-align: center;
    font-weight: 900;
    padding: 0px 20px;
}
@media (max-width: 576px) {
    .titulo_h1_mapa {
        font-size: 20px;
    }
}