table {
  border-collapse: collapse;
  width: 100%;
}
td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}
.contenedor_table {
    margin: 10px 50px;
}
@media (max-width: 576px) {
  .contenedor_table {
    margin: 10px 20px;
  }
  td{
    font-size: 11px;
  }

}