.contenedor_tahuamanu {
    margin: 10px 30px;
}
.titulo_h1_tahuamanu {
    font-size: 3em;
    text-align: center;
    font-weight: 900;
}

@media (max-width: 576px) {
    .titulo_h1_tahuamanu {
        font-size: 35px;
        text-align: center;
        font-weight: 900;
    }
}


